ui-components/src/main/resources/META-INF/partsvibe-ui-components.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://partsvibe.app/ui-components"
           elementFormDefault="qualified"
           attributeFormDefault="qualified">

  <xs:element name="pagination">
    <xs:annotation>
      <xs:documentation>
        Renders pagination controls. Bind app:data to a model implementing
        app.partsvibe.uicomponents.pagination.PaginationModel.
        Required data contract: firstUrl, lastUrl, pageLinks, totalPages,
        currentPage, startRow, endRow, totalRows.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="data" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>
            Thymeleaf expression resolving to PaginationModel, e.g. ${pageInfo}.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="confirmation-dialog">
    <xs:annotation>
      <xs:documentation>
        Renders a Bootstrap confirmation modal with an embedded form.
        Bind app:data to a model implementing
        app.partsvibe.uicomponents.confirmation.ConfirmationDialogModel.
        Slots are supported via app:slot on direct children:
        title, body, fields, confirm, cancel.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="data" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>
            Thymeleaf expression resolving to ConfirmationDialogModel, e.g. ${deleteDialog}.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:attribute name="slot" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Named slot for app:confirmation-dialog children: title, body, fields, confirm, cancel.
      </xs:documentation>
    </xs:annotation>
  </xs:attribute>
</xs:schema>
